---
import Layout from '../layouts/Layout.astro';

import { Icon } from 'astro-icon/components'

import StackItem from '../components/StackItem.astro'
import Exhibition from '../components/Exhibition.astro'

import PixelBallImage from '../img/pixel_ball.png';
import CcProfileImage from '../img/cc-public.png'

import TwoFacesImage from '../img/two-faces/two-faces8.jpg'
import GhostBoxImage from '../img/ghostbox/ghostbox2.png'
import BehindTheBoxImage from '../img/behind-the-box/behind_the_box.png'
import FiveDotFiveImage from '../img/5.5/5_1.png'
import LimboImage from '../img/limbo/limbo2.jpg'
import MoneyMentImage from '../img/moneyment/moneyment.png'

import CellularGif from '../videos/cellular-fidelity-gif.mp4'
import LumiscapeGif from '../videos/lumiscape-gif.mp4'
import QuantumSynthesiaGif from '../videos/quantum-synthesia-gif.mp4'
import VirtualIsolationGif from '../videos/virtual-isolation-gif.mp4'

import { Image } from 'astro:assets';

import {projectImageTypes} from '../const.js'

import '../styles/index.css';

/* Addd new projects here in reverse chronological order (newest = last) */
const projects = [
	{
		"slug": "moneyment",
		"title": "Moneyment",
		"projectType": "Mixed-Media Installation (Video and object)",
		"description": `Money needs people, and people need money - an almost perfect circle.
		If you like, every human action finds its place in the value chain, and every
		move is profitable.
		Moneyment is dedicated to all those who do not play this game.`,
		"imageObject": MoneyMentImage,
		"imageType": projectImageTypes.image,
		"year": "2018"
	},
	{
		"slug": "limbo",
		"title": "Limbo",
		"projectType": `Reactive Video-Installation`,
		"description": `Replacing a specific space close to the stairs between two floors with a
		reactive interface will allow the participants to reach a story which will be
		decided by their appearance. When the observer watches the screen, it
		triggers a private story, which is trapped in time and space.`,
		"imageObject": LimboImage,
		"imageType": projectImageTypes.image,
		"year": "2016 - 2018"
	},
	{
		"slug": "5.5",
		"title": "5.5",
		"projectType": "Interactive Sound Installation",
		"description": `5.5 transforms artificial light into sound. When viewers put on the
		headset and headphones, they hear a mixture of electromagnetic
		disturbances caused by the artificial light sources in the room. 5.5
		invites you to an ambient synaesthetic experience. The apparatus
		becomes an artificial sensory organ: follow the white noise, let your
		ears guide you, and experience the space anew`,
		"imageObject": FiveDotFiveImage,
		"imageType": projectImageTypes.image,
		"year": "2019"
	},
	{
		"slug": "behind-the-box",
		"title": "Behind the box",
		"projectType": "Interactive Mixed-Media Installation",
		"description": `Cubic object with translucent lcd panel and multi channel mapped
		audio transmitting led arrays as backlight. Observers can also
		interact with the installation ”Behind the box” by moving the
		apparatus from the project “5.5”. In this way, they listen
		differentsounds which come from box. Those sounds can be audio
		recordings from a war zone, a suicide youtuber, a make up video,
		and many other. Without any interaction installation stays silent.
		Visuals and movements on screen are working on Unity Engine .
		Translucent lcd creates an augmented reality feeling depending on
		the angle when observer looks inside the box. Apparatus is
		functioning just as receiver and amplifier, it does not alter anything.
		Audio cables from both Apparatus are connected to camera’ s
		microphone input for this presentation. What observers hear is the
		audio mapped led arrays and when they move around with the
		apparatus, they hear mixtures of mapped sounds.`,
		"imageObject": BehindTheBoxImage,
		"imageType": projectImageTypes.image,
		"year": "2020"
	},
	{
		"slug": "virtual-isolation",
		"title": "Virtual Isolation",
		"projectType": "Wearable device, interactive Installation",
		"description": `Virtual Isolation is a wearable interactive object with a display which
		demonstrates real-time vital readings and memories.
		Our lives are all about numbers and graphs for quite a while. Society tries to
		adopt new relation between our survival and our social interactions during
		isolation times and we still don’t know what future will bring on us.
		Although human memory is highly depending on our social interactions, we
		as individuals are stuck between fear and losing social abilities.
		“Is surviving alone enough to stay human, what is left without memories
		with others ? “ - this was the question that lead me to develop this
		project.`,
		"imageObject": VirtualIsolationGif,
		"imageType": projectImageTypes.mp4Gif,
		"year": "2020"
	},
	{
		"slug": "ghostbox",
		"title": "Ghostbox",
		"projectType": "Interactive Sound Installation",
		"description": `Ghostbox is a work in the medium of audio-visual experience within
		a constructed environment. It is an attempt to investigate the
		“Observer Effect” in the real world. The action takes place in a dark
		space filled with ten constantly-powered, audio-modulated, red
		laser modules.
		While the lasers are physically identical, the audio information they
		carry differs. This creates an entangled, amorphous audiovisual scape,
		lending it a patterned structure. Although the structure appears
		uniform, it reveals its synthesized nature upon interaction.
		Visitors wearing light-sensitive devices on both fists explore the layers
		of the soundscape through their body movements, as they interact with
		the linear-patterned space of laser beams. The devices on their wrists
		receive the modulated laser rays, transmitting the information to
		speakers, and making the rays audible inside the space.`,
		"imageObject": GhostBoxImage,
		"imageType": projectImageTypes.image,
		"year": "2020 - 2021"
	},
	{
		"slug": "cellular-fidelity",
		"title": "The Cellular Fidelity",
		"projectType": "Interactive Sound Installation",
		"description": `The Cellular Fidelity creates a three-dimensional aquarium that breaks its boundaries using
		light and sound. Audio is encoded into lasers that project through microscopic aquatic
		environments into the gallery space. On the floor is a cast, colorful view of what, in reality, is
		floating tiny and suspended above the visitors' heads. The laser reveals its sound when a
		visitor steps into the shared aquatic space holding a sensor. Field recordings from the
		collection sites of 30 groups of marine microbes fill the space- bending, humming, and
		distorting with the visitor's movement. But the audio changes without a visitor, as well.
		Because the audio-encoded laser first travels through the microbes' environment, they are
		the first beings to make contact with it. When a cellular shape 'runs' across the floor, the
		audio reshapes in response to the actual microbe's interaction with the laser up above,
		picking up movement from above and making it visible and audible from below. The
		potential for interaction permeates this whole work.`,
		"imageObject": CellularGif,
		"imageType": projectImageTypes.mp4Gif,
		"year": 2022
	},
	{
		"slug": "two-faces",
		"title": "Two Faces",
		"projectType": "Video Installation",
		"description": `Once the largest bakery in Europe, now leaving Vienna after 130 years. What remains
		behind? What can a place tell? Who remembers what and what seems to have been
		completely forgotten? We make our research walkable and invite you to come along: A
		daughter who tries to decipher her secretive mother. A son who struggles with the ghost of
		his father. Together we follow her verses and accompany her every step of the way in her
		search for traces through time. Along the way, we listen to people remembering. Two
		Faces" is one of the eight artistic stations, we experience how layer after layer is removed to
		see what is hidden behind it.`,
		"imageObject": TwoFacesImage,
		"imageType": projectImageTypes.image,
		"year": "2023"
	}, 
	{	
		"slug": "quantum-synesthesia",
		"title": "Quantum Synesthesia",
		"projectType": "Upcoming Project",
		"description": `
			The project explores the hypothetical concept of "quantum synesthesia," where 
			individuals experience a merging of senses specifically related to quantum phenomena. 
			However, I go beyond mere scientific exploration and posit quantum synesthesia 
			as a powerful metaphor. This metaphor envisions the unseen forces shaping the 
			universe as a symphony, expressed through an interactive experience.
		`,
		"imageObject": QuantumSynthesiaGif,
		"imageType": projectImageTypes.mp4Gif,
		"year": "Upcoming Project"
	},
	{	
		"slug": "lumiscape",
		"title": "Lumiscape",
		"projectType": "Upcoming Project",
		"description": `
		"Lumiscape" builds upon my established artistic exploration of veiled aspects of 
        the human experience through interactive new media installations. This project 
        utilizes my prior work with Li-Fi technology and my fascination with quantum 
        physics to investigate the complex relationship between humans and nature.
		`,
		"imageObject": LumiscapeGif,
		"imageType": projectImageTypes.mp4Gif,
		"year": "Upcoming Project"
	}
]


const description = `
Media Art focusing on the relationship between 
human movement, space and uncertainty and developing 
new ways of interaction between humans and spaces.
`
---

<Layout title="Çağdaş Çeçen - Media Artist" description={description}>

	<main>
		<a href="#main-card" class="sr-skip-link">
			Skip to main content
		</a>

	<section class="banner-section">			
			<div class="vertical-lines-container">
				<!-- Generate multiple divs like this for more lines -->
				<div class="vertical-line"></div>
				<div class="vertical-line"></div>
				<div class="vertical-line"></div>
				<div class="vertical-line"></div>
				<div class="vertical-line"></div>
				<!-- -->
				

				<header>
					<div class="banner-dots-container"></div>

					<a class="nav-link brand-link" href="/" aria-label="Home"><Icon name="logo-2" /></a>
					<nav>
						<ul>
							<li>
								<a class="nav-link" href="#projects-section" aria-label="Projects">Projects</a>
							</li>
							<li>
								<a class="nav-link" href="#about-me-section" aria-label="About Me">About</a>
							</li>
						</ul>
					</nav>
				</header>

				<div class="banner-card" id="main-card">
					<div class="content-card">
						<div class="circle-images">
							<Image class="main-circle" src={PixelBallImage} alt="main circle in illustration" />
							
							<!-- rotating circles -->
							<div class="circle circle1"></div>
							<div class="circle circle2"></div>
							<div class="circle circle3"></div>
							<div class="circle circle4"></div>
							<div class="circle circle5"></div>
							<div class="circle circle6"></div>
							<div class="circle circle7"></div>
							<div class="circle circle8"></div>
							<div class="circle circle9"></div>
							<div class="circle circle10"></div>
							<div class="circle circle11"></div>
							<!-- background dots -->
							<div class="circle-dots-container"></div>
						</div>
						<div class="content-card-2">
							<h1 class="title font-family-header glow sub-title"><span class="title-prefix">Çağdaş Çeçen | </span>MEDIA:ART<span class="tubelight">S</span></h1>
							<div class="line-container"></div>
							<a href="#projects-section" class="highlight-link">&gt; Upcoming Projects</a>
						</div>
						
						

					</div>
						
				</div>
				
			</div>
			
			<div class="vertical-line-2"></div>
			<div class="vertical-line-2"></div>
		</section>	

		<section id="projects-section" style={`height: ${90 * projects.length}vh;`}>
			<style>
				#projects-section {
					width: 98vw;
				}

				.stack-area {
					position: sticky;
					width: 97vw;
					height: 100vh;
					top: 0;
				}

				@media (max-width: 762px) {
					#projects-section {
						margin-bottom: 10vh;
						position: relative;	
						height: 120vh !important;
						overflow-x: hidden;
					}
					
					.stack-area {
						position: relative;
						display: flex;
						flex-direction: row-reverse;
						gap: 0;
						height: 90vh;
					}

					.mobile-stack-controls {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 1rem;
						z-index: 500;
						width: 100vw;
					}

					.mobile-stack-controls button {
						border-radius: 100%;
						background: var(--card-bg);
						padding: 0.5rem;
					}

					.mobile-stack-controls svg {
						height: 2rem;
						width: 2rem;
					}
				}
			</style>

			<div class="stack-area">
				{projects.map((project) => {
					return <StackItem 
						classes=""
						slug={project.slug}
						title={project.title}
						projectType={project.projectType}
						description={project.description}
						imageObject={project.imageObject}
						imageType={project.imageType}
						year={project.year}
					/>
				})}					
			</div>
			
			<div class="mobile-only mobile-stack-controls">
				<button class="stack-back-button">
					<Icon name="mdi:arrow-left" aria-label="previous card" />
				</button>
				<button class="stack-next-button">
					<Icon name="mdi:arrow-right" aria-label="next card" />
				</button>
			</div>
		</section>

		<section id="about-me-section">
			<style>
				#about-me-section {
					display: grid;
					grid-template-columns: 1fr 1fr;
					width: 100%;
					color: var(--text-color);
					gap: 1rem;
					padding: 0 10vw;					
					padding-top: 2rem;
					margin-top: 10vh;
				}

				.about-me--header-area {
					width: 100%;
					height: 20vh;
					position: sticky;
					top: 5vh;
					padding-top: 1.5rem;
				}

				.about-me--header-img-wrapper {
					width: 100%;
					position: relative;
					height: 20vh;
					display: flex;
					justify-content: center;
				}

				.about-me--header-img-wrapper * {
					position: absolute;
					bottom: 0;
				}

				.about-me--header-img-wrapper img {
					height: auto;
					width: 50%;
				}

				.about-me--header-img-wrapper .about-me--title {
					font-family: "Times New Roman";
					font-size: 6rem;
					text-align: center;
					width: 100%;
					line-height: 4.5rem;
					margin-bottom: 0;
					font-weight: bold;
				}

				.about-me--title-front {
					color: transparent;
					-webkit-text-stroke: 3px #E4E4E4;
				}

				.contact-line {
					width: 50%;
					margin: 1rem auto;
				}

				.about-me--header--social-wrapper {
					display: flex;
					align-items: center;
					gap: 1rem;
					justify-content: center;
					margin-top: 1rem;
				}

				.about-me--header--social-wrapper svg {
					height: 2rem;
					width: 2rem;
				}

				.about-me--header--social-wrapper a {
					cursor: pointer;
					display: flex;
					align-items: center;
					gap: 0.5rem;
				}
				.about-me--header--social-wrapper a:hover {
					filter: brightness(80%);
				}

				.about-me--text-area {
					padding: 0 5vw;
				}

				.about-me--exhibitions {
					margin-top: 2rem;
				}

				.about-me--exhibitions h3 {
					color: transparent;
					margin-top: 3rem;
					-webkit-text-stroke: 1px #E4E4E4;
				}

				.about-me--exhibitions ul {
					margin-bottom: 1rem;
				}

				.about-me--exhibitions li {
					margin-bottom: 0.5rem;
					padding-left: 1rem;
				}

				@media (max-width: 1400px) {
					.about-me--header-img-wrapper .about-me--title {
						font-size: 3rem;
						line-height: 2rem;
						-webkit-text-stroke: 2px #E4E4E4;
					}
				}

				@media (max-width:762px) {
					#about-me-section {
						grid-template-columns: 1fr;
						margin-top: 0;
					}

					.about-me--header-area {
						position: sticky;
						margin-top: 0;
						top: 0;
						background: var(--main-bg);
						padding-bottom: 2rem;
						height: unset;
						width: 79vw;
					}

					.about-me--header-img-wrapper {
						height: 20vh;
					}

					.about-me--header-img-wrapper img {
						width: 70%;
					}

					.about-me--header-img-wrapper .about-me--title {
						font-size: 3rem;
						line-height: 2.1rem;
					}

					.contact-line {
						width: 100%;
					}
				}
			</style>

			<div class="about-me--header-area">
				<div class="about-me--header-img-wrapper">
					<h2 class="about-me--title about-me--title-back">ABOUT ME</h2>
					<Image src={CcProfileImage} alt="Çağdaş Çeçen Profile Image" />
					<span class="about-me--title about-me--title-front">ABOUT ME</span>	
				</div>
				<hr class="contact-line glow">
				<div class="about-me--header--social-wrapper">

					<a href="https://www.instagram.com/nihilprophet/">
						<Icon name="mdi:instagram" /> <span class="desktop-only">@nihilprophet</span>
						<span class="mobile-only">Instagram</span>
					</a>
				
					<a href="mailto:nihilprophet@gmail.com">
						<Icon name="mdi:email" /> <span class="desktop-only">nihilprophet@gmail.com</span>
						<span class="mobile-only">E-Mail</span>
					</a>
					
				</div>
				
			</div>
			<div class="about-me--text-area">
				
				<p>
					Çağdaş Çeçen is a Vienna based media artist. He studied Media Art :
					Digital Art at University of Applied Arts Vienna and Physics at University of Vienna.
					Currently, his artistic practices focuses in the relationship between
					human movement, space and uncertainty. Since 2018 he is developing
					new ways of interaction between human and space by using synesthetic
					nature of Quantum Physics not just symbolic or inspirational way
					but as an active element in his artworks. He strongly believes that
					democratization of Quantum Physics will open new artistic ways
					to reexplore our surroundings and improving our synesthetic sensation.
					His projects have been already presented in several countries:
					Austria, Italy, Poland, Greece, Bosnia and Herzegovina.
					Conciliating with his artistic activity.
				</p>

				<div class="about-me--exhibitions">
					
					<style is:global>
						.exhibition {
							margin-bottom: 1rem;
						}
					</style>
					<h2>Exhibitions/Projects</h2>

					
					<style>
						.exhibition {
							border-left: 1px solid var(--text-color);
							padding: 0 1rem;
							display: flex;
							flex-direction: column;
							gap: 0.2rem;
							align-items: flex-start;
							justify-content: flex-start;
							flex-wrap: wrap;
						}

						.exhibition--top {
							display: flex;
							width: 100%;
							gap: 1rem;
							flex-wrap: wrap;
						}

						.exhibition--title {
							font-weight: bold;
							white-space: nowrap;
						}

						.exhibition--organization {

						}

						.exhibition--location {
							font-style: italic;
						}

						@media (max-width: 762px) {
							.exhibition {
								flex-direction: row;
							}

							.exhibition--top {
								flex-direction: column;
							}
						}
					</style>

					<h3>2022</h3>

					<Exhibition 
						title="TRAUMATRAUMA"
						organization="feat. B.A.D."
						organizationUrl="https://www.bad-art.org/"
						location="Vienna - Austria"
					/>

					<Exhibition 
						title="Distance Fog"
						organization="feat. B.A.D. Wienstation"
						location="Vienna - Austria"
					/>

					<Exhibition 
						title="The Cellular Fidelity"
						organization="Alte Schieberkammer"
						location="Vienna - Austria"
					/>

					<h3>2021 </h3>	
					
					<Exhibition 
						title="Transform-Arte 2021"
						organization="Participating artist"
						location="Eisenstadt - Austria"
					/>

					<Exhibition 
						title="Angewandte Festival 2021"
						organization="Paricipating artist"
						location="Vienna - Austria"
					/>
					
					<h3>2019</h3>	
					
					<Exhibition 
						title="“KAIROS” Recall of Earth Part 2"
						organization="Collective exhibition"
						location="Thessalonikki - Greece"
					/>
					

					<Exhibition 
						title="“Spannung!”-Medienwerkstatt"
						organization="Collective exhibition"
						location="Vienna - Austria"
					/>
					

					<Exhibition 
						title="Fabrikraum #01"
						organization="Collective exhibition"
						location="Vienna - Austria"
					/>

					<Exhibition 
						title="“5.5” Mixed media installation"
						organization="La Biennale di Venezia, Biennale Sessions"
						location="Venice - Italy"
					/>

					<Exhibition 
						title="Offene Ateliers in Margareten"
						organization="Künstlerhaus, Participating artist"
						location="Vienna - Austria"
					/>

					<Exhibition 
						title="Reflecting Records"
						organization="Collective exhibition"
						location="Vienna - Austria"
					/>
					
					<h3>2018</h3>
					
					<Exhibition 
						title="A community of individuals"
						organization="SOHO Festival, Collective exhibition"
						location="Vienna - Austria"
					/>

					<h3>2017</h3>
					
					<Exhibition 
						title="DIGITAL WORKFLOW"
						organization="Collective exhibition"
						location="Vienna - Austria"
					/>

					<Exhibition 
						title="UNTAPPED SUR-PLUS"
						organization="Künstlerhaus, Collective exhibition"
						location="Vienna - Austria"
					/>

					<Exhibition 
						title="Disintegrate"
						organization="Stop-Motion PSA movie for “Ministerium für ein lebenswertes Österreich”, “Danube Projekt”- Der Haus der Europäischen Union"
						location="Vienna - Austria"
					/>

					<h3>2016</h3>
					
					<Exhibition 
						title="Infected Structures"
						organization="Collective exhibition"
						location="Sokolowsko - Poland"
					/>

					<Exhibition 
						title="Smells Like Sh.t"
						organization="Video Documenary “TV916”"
						location="Trebinje - Bosnia and Herzegovina"
					/>

					<Exhibition 
						title="....Sowohl als auch....."
						organization="Performance"
						location="Vienna - Austria"
					/>

				</div>
			
			
			</div>
		</section>
	</main>

	<style>
		footer {
			margin: 4rem 0;
			text-align: center;
		}

		footer .footer--built-by-row {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;
			gap: 0.2rem;
		}

		footer .footer--built-by-row svg {
			color: var(--text-color)
		}
	</style>
	<footer>
		<div class="footer--copyright-row">
			&copy; <span class="copyright-year"></span> Çağdaş Çeçen
		</div>
		<div class="footer--built-by-row">
			Built with <Icon name="mdi:heart" /> in Vienna 
			
			by <a 
				target="_blank"
				href="https://steincode.com"
			>SteinCode</a>
		</div>
	</footer>

	<script src="../scripts/copyright-year-updater.js"></script>
	<script src="../scripts/index.js"></script>
</Layout>


