---
import Layout from "../layouts/Layout.astro"
// Import necessary components and utilities
import { Image } from 'astro:assets';
import '../styles/project-card-page.css';

// Props passed to the component
// Assuming 'project' contains all necessary data for rendering
const { title, description, project } = Astro.props;

---
<Layout title={title} description={description}>
    <main>
        <div class="project-card">
            
            <hr class="horizontal-line-large">
            
            <div class="header-container">
                <small><a class="home-link" href={`${import.meta.env.BASE_URL}/`}>Home</a></small>
                <small>{project.title} / {project.type} / {project.artist}</small>
                <small>&copy; <span class="copyright-year">2024</span></small>
            </div>
            <hr class="horizontal-line-small">

            {project.videos.length > 1 ? 
                <div class="videos-container top-video-container">
                    {project.videos.map(video =>
                        <iframe 
                            class="mbr-embedded-video" 
                            src={video.url} 
                            width="100%" height="100%"  
                            allow="autoplay; fullscreen" 
                            allowfullscreen>
                        </iframe>
                    )}
                </div> 
            : null }

            <div class="project-container">
                <div class="project-info">
                    {project.videos.length==1 ? 
                        <div class="videos-container">
                            {project.videos.map(video =>
                                <iframe 
                                    class="mbr-embedded-video" 
                                    src={video.url} 
                                    width="100%" height="100%"  
                                    allow="autoplay; fullscreen" 
                                    allowfullscreen>
                                </iframe>
                            )}
                        </div> 
                        : null
                    }
                    <div class="description-body">
                        <h1 class="project-title">{project.title}</h1>
                        <slot />
                        {project.links.length > 0? <h3 class="additional-links-title">Links</h3> : null}
                        <ul class="additional-links-list">
                            {project.links.map(link => {
                                return <li><a target="_blank" class="additional-link" href={link.url}>{link.type}</a></li>
                            })}
                        </ul>
                        
                    </div>
                    
                </div>
            
                <div class="image-container">
                    <div class="image-wrapper columns-1">
                        {project.images.map(image =>
                            <a target="_blank" class="image-link">
                                <Image src={image} alt={`Image ${image + 1}`} class="large" />
                            </a>
                        )}
                        {project.images.map(image =>
                            <a target="_blank" class="image-link">
                                <Image src={image} alt={`Image ${image + 1}`} class="large" />
                            </a>
                        )}
                    </div>  
                    
                    <div class="image-wrapper columns-2">
                            <!-- Check if there are videos -->
                        {project.images.slice(0).reverse().map(image =>
                            <a target="_blank" class="image-link">
                                <Image src={image} alt={`Image ${image + 1}`} class="project-image large" />
                            </a>
                        )}
                        {project.images.slice(0).reverse().map(image =>
                            <a target="_blank" class="image-link">
                                <Image src={image} alt={`Image ${image + 1}`} class="project-image large" />
                            </a>
                        )}
                    </div>

                </div>
            </div>
        </div>

        <script>
            document.querySelectorAll('.image-wrapper a').forEach(link => {
                const image = link.querySelector("img")
                
                if (image !== null) {
                    link.setAttribute("href", image.src)
                }
            })
        </script>
        <script src="../scripts/copyright-year-updater.js"></script>
        <script src="../scripts/sub.js"></script>
    </main>
</Layout>