---
import Layout from "../layouts/Layout.astro"

import { Image } from 'astro:assets';

interface Video {
	url: string;
}

interface Link {
	url: string;
    type: string
}

import '../styles/project-card-page.css';
import { Icon } from "astro-icon/components";

const { title, description, project } = Astro.props;
---
<Layout title={title} description={description}>
    <main>
        <div class="project-card">
            
            <hr class="horizontal-line-large">
            
            <div class="header-container">
                <small class="home-link-wrapper">
                    <a class="home-link" href="/">Home</a>
                    <span class="copyright-label-mobile">&copy; <span class="copyright-year">2024</span></span>
                </small>
                <small class="project-header-label">{project.title} / {project.type} / {project.artist}</small>
                <small class="copyright-label">&copy; <span class="copyright-year">2024</span></small>
            </div>
            <hr class="horizontal-line-small">

            {project.videos.length > 1 ? 
                <div class="videos-container top-video-container">
                    {project.videos.map((video: Video) =>
                        <iframe 
                            title="Project Video"
                            class="mbr-embedded-video" 
                            src={video.url} 
                            width="100%" height="100%"  
                            allow="autoplay; fullscreen" 
                            allowfullscreen>
                        </iframe>
                    )}
                </div> 
            : null }

            <div class="project-container">
                <div class="project-info">
                    {project.videos.length==1 ? 
                        <div class="videos-container">
                            {project.videos.map((video: Video) =>
                                <iframe 
                                    title="Project Video"
                                    class="mbr-embedded-video" 
                                    src={video.url} 
                                    width="100%" height="100%"  
                                    allow="autoplay; fullscreen" 
                                    allowfullscreen>
                                </iframe>
                            )}
                        </div> 
                        : null
                    }
                    <div class="description">
                        <h1 class="project-title">{project.title}</h1>
                        <slot />
                        <ul class="additional-links-list">
                            {project.links.map((link: Link) => {
                                return <li><a target="_blank" class="additional-link" href={link.url}>{link.type}</a></li>
                            })}
                        </ul>
                        
                    </div>
                    
                </div>
            
                <div class="image-container">
                    <div class="image-wrapper columns-1">
                        {project.images.map((image: ImageMetadata) =>
                            <Image src={image} alt={`Project Image`} class="project-image" />
                        )}
                        {project.images.map((image: ImageMetadata) =>
                            <Image src={image} alt={`Project Image`} class="project-image duplicate" />
                        )}
                    </div>  
                    
                    <div class="image-wrapper columns-2">
                            <!-- Check if there are videos -->
                        {project.images.slice(0).reverse().map((image: ImageMetadata) =>
                            <Image src={image} alt={`Project Image`} class="project-image duplicate" />
                        )}
                        {project.images.slice(0).reverse().map((image: ImageMetadata) =>
                            <Image src={image} alt={`Project Image`} class="project-image duplicate" />
                        )}
                    </div>

                </div>
            </div>
        </div>

        <script>
            /* Image viewer */
            function setNewImageInModal({imageSrc}){
                const imageWrapper = document.querySelector(".modal--image-wrapper")
                    if (imageWrapper === null) {
                        console.error("ERROR: Could not find modal-image-wrapper")
                        return
                    }

                    imageWrapper.innerHTML = `
                        <img src="${imageSrc}">
                    `
            }

            document.querySelectorAll('.image-wrapper .project-image').forEach(image => {
                image.addEventListener("click", (event) => {
                    document.querySelector(".modal")?.classList.add("show")

                    const currentTarget = event.currentTarget as HTMLImageElement

                    if (currentTarget === null){
                        console.error("ERROR: Could not find target image")
                        return
                    }

                    setNewImageInModal({imageSrc: currentTarget.src})
                })
            })

            
            document.addEventListener("DOMContentLoaded", () => {    
                const images = document.querySelectorAll(".project-image:not(.duplicate)")
                const imageList = Array.from(images).map(image => (image as HTMLImageElement).src)

                function getCurrentImageIndex() {
                    const currentImage = document.querySelector(".modal--image-wrapper img")

                    return (currentImage !== null) 
                        ? imageList.indexOf((currentImage as HTMLImageElement).src) 
                        : 0
                }

                document.querySelector(".modal--previous")?.addEventListener("click", () => {
                    const index = getCurrentImageIndex()

                    let previousIndex = (index === 0) ? imageList.length - 1 : index - 1

                    setNewImageInModal({imageSrc: imageList[previousIndex]})
                })
                document.querySelector(".modal--next")?.addEventListener("click", () => {
                    const index = getCurrentImageIndex()
                    
                    let nextIndex = (index === imageList.length - 1) ? 0 : index + 1

                    setNewImageInModal({imageSrc: imageList[nextIndex]})
                })

                document.querySelector(".modal--close")?.addEventListener("click", () => {
                    const modal = document.querySelector(".modal")
                    modal?.classList.add("fade-out")

                    setTimeout(() => {
                        modal?.classList.remove("fade-out")
                        modal?.classList.remove("show")
                    }, 500)      
                })
            })
        </script>
        
        <script src="../scripts/copyright-year-updater.js"></script>

        <div class="modal">
            <div class="modal--content">
                <div class="modal--navigation">
                    
                    <div class="modal--next-previous-buttons">
                        <button class="modal--previous" aria-label="next image"><Icon name="mdi:arrow-left" /></button>
                        <button class="modal--next" aria-label="next image"><Icon name="mdi:arrow-right" /></button>
                    </div>

                    <button class="modal--close" aria-label="close modal">Close</button>
                </div>

                <div class="modal--image-wrapper">

                </div>
            </div>
        </div>
    </main>
</Layout>