---
// Import necessary components and utilities
import { Image } from 'astro:assets';
import '../styles/sub.css';

// Props passed to the component
// Assuming 'project' contains all necessary data for rendering
const { project } = Astro.props;
---


<main>
    <div class="projects-card">
        <hr class="horizontal-line-large">
        <div class="header-container">
            <small>Home</small>
            <small>{project.title} / {project.type} / {project.artist}</small>
            <small>&copy; 2024</small>
        </div>
        <hr class="horizontal-line-smal">
        <div class="project-container-grid">
            <div class="project-info">
                <div class="vertical-text-container">
                    <p class="vertical-text">{project.verticaltext}</p>
                </div>    
                <div class="description-block">
                    <p>{project.description}</p>
                        <br>
                        <a class="link" href={project.link}>Video</a>
                
                </div>
          
            </div>
                <div class="image-container">
                    <div class="image-wrapper columns-1">
                        {project.images.map(image =>
                            <Image src={image} alt={`Image ${image + 1}`} class="large" />
                        )}
                    </div>  
                    
                    <div class="image-wrapper columns-2">
                        <!-- Check if there are videos -->
                    {project.videos.length > 0 ? 
                        <!-- Render videos -->
                        <div class="image-wrapper columns-2">
                            {project.videos.map(video =>
                                <iframe class="mbr-embedded-video" src={video.url} width="100%" height="100%"  allow="autoplay; fullscreen" allowfullscreen style="height: 200.125px;"></iframe>
                            )}
                        </div>
                    :
                    project.images.map(image =>
                        <Image src={image} alt={`Image ${image + 1}`} class="large" />
                    )}
                    </div>
                      

                    </div>
                    
                </div>

        </div>
        
       
    </div>
    

</main>