---
import { Image } from "astro:assets"


const {classes, slug, title, projectType, description, imageObject, year} = Astro.props
---

<style is:global>
    .stack-item {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        
        height: 100dvh;
        width: 100dvw;

        position: -webkit-sticky;
        position: sticky;

        top: 0;

        padding: 5vw;

        color: white;
        position: absolute;
        z-index: 5;
    }

    .stack-item--col {
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stack-item--text-area {
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .stack-item .stack-item--text-title {
        font-size: 3rem;
        font-family: poppins;
    }

    .stack-item--text-sub-title {
        font-size: 1.5rem;
        font-family: poppins;
        margin-bottom: 1rem;
    }

    .stack-item--image-area {
        position: relative;
        height: 50vh;
        aspect-ratio: 1;
        overflow: hidden;
    }
    .stack-item--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border: 1px solid rgb(59, 59, 59);
        filter: grayscale(80%);
    }

    .stack-item--image-text {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .stack-item--image-title-area, 
    .stack-item--image-text-bottom {
        background: rgba(0, 0, 0, 0.3);
        padding: 1rem;
        width: 100%;
    }

    .stack-item--image-title {
        font-size: 1.5rem;
        font-family: 'Lastica', sans-serif;
    }

    .stack-item--image-sub-title {
        font-size: 1rem;
    }

    .stack-item--image-short-description {
        margin-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        
        display: -moz-box;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 3; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    .stack-item--image-link {
        transition: color 0.2s ease-in-out;
        padding: 0.5rem 0rem;
        font-weight: bold;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .stack-item--image-link:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    /* Styles for hiding / showing stack-items */
    .stack-item .stack-item--image-area{
        transition: transform 0.5s ease-in-out;
    }
    .stack-item.focus .stack-item--image-area {
        transform: rotate(0deg);
    }

    .stack-item.passed .stack-item--image-area {
        transform: translate(-50%, -120vh) rotate(20deg);
    }

    .stack-item.focus .stack-item--text-area {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 762px) {
        .stack-item {
            padding: 0;
        }

        .stack-item--col {
            padding: 0;
        }
        .stack-item .stack-item--text-area {
            display: none;
        }

        .stack-item .stack-item--image-area {
            width: 100dvw;
            height: 100%;
            aspect-ratio: unset;
        }
    }

</style>

<div class={`stack-item ${classes}`}>
    <div class="stack-item--col stack-item--text-area">
        <h2 class="stack-item--text-title">{title}</h2>
        <div class="stack-item--text-sub-title">{projectType}</div>
            
        <p class="stack-item--text-description">
            {description}
        </p>
    </div>
    <div class="stack-item--col">
        <div class="stack-item--image-area">
            <Image class="stack-item--image" src={imageObject} alt="Image" />
            <div class="stack-item--image-text">
                <div class="stack-item--image-title-area">
                    <h2 class="stack-item--image-title">{title}</h2>
                    <small class="stack-item--image-sub-title">{year}</small>
                </div>
                <div class="stack-item--image-text-bottom">
                    <p class="stack-item--image-short-description">
                        {description}
                    </p>
                    <a 
                        class="stack-item--image-link"
                        href={`/projects/${slug}`}
                    >
                        More Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
